<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>PPM - Project Production Management</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="main"><button type="button" class="btn btn-primary" [routerLink]="['/']">Home</button></p>
    </div>
    <div class="col">
      <p class="main"><button type="button" class="btn btn-primary" [routerLink]="['/products']">Product List</button></p>
    </div>
    <div class="col">
      <p class="main"><button type="button" class="btn btn-primary" [routerLink]="['/products/new']">Product Creation</button></p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
